services:
  jenkins:
    image: jenkins-server
    container_name: jenkins
    build:
      context: .
      dockerfile: ./jenkins/Dockerfile
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - DOCKER_HOST=unix:///var/run/docker.sock
    user: jenkins
    group_add:
        - docker
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

      - type: bind
        source: /usr/bin/docker
        target: /usr/local/bin/docker
        read_only: true
    privileged: true

  springboot-app:
    image: spring-app
    container_name: spring-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    restart: always
    depends_on:
      - jenkins

volumes:
  jenkins_home:
